.snippets_wrapper {

    .flex {
        position: relative;
        top: 40px;
        left: 55.5%;
        width: 70px;

        .icon50x50 {
            width: 30px;
            height: 30px;
        }
    }


    form {
        display: flex;
        margin-bottom: 60px;
    }
    
    .tags_window {
      position: absolute;
      top: 160px;
      left: 50%;
      width: 300px;
      min-height: 100px;
      background-color: white;
      border-radius: 5px;
      box-shadow: -2px 5px 5px 5px rgba(0, 0, 0, 0.047);
      box-sizing: border-box;
      padding: 10px;
      word-break: break-all;

      .tags_list {
        cursor: pointer;
        user-select: none;
        .selected_tag{
          color: blue;
        }
      }

    }

    .rendering_div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
        
        .rendered_item {
            word-break: break-all;
            height: 400px;
            overflow-y: scroll; //? Enables vertical scrollbar
            padding: 0 35px 35px 35px;
            background-color: #4E4E4E;
            color: white;
          
            &::-webkit-scrollbar {
              width: 8px; //? Sets the width of the scrollbar
              background-color: transparent; //? Makes the scrollbar transparent
            }
          
            &::-webkit-scrollbar-thumb {
              background-color: white; //? Sets the color of the scrollbar thumb
              border-radius: 4px; //? Rounds the corners of the scrollbar thumb
            }
          
            .description {
              h3 {
                font-size: medium;
                font-weight: 400;
                font-size: 40px;
                line-height: 50px;
              }
          
              span {
                font-family: 'Kreon';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 38px;
              }
            }
          
            .tags_and_codepopup {
              padding-top: 10%;
          
              span {
                // styles for tags
              }
          
              // .code_popup {
              //   align-items: end;
              // }
            }
          }
          
          
    }
}