#SnippetWrapper {
    padding-top: 35px;
    
    form {
        display: flex;
        margin-bottom: 35px;
        input {
            background-color: #434343;
            color: #A6A6A6;
        }
    }
}